body {
	font-family: Helvetica;
}

h1 {
	font-family: Helvetica;
	color: #FFFFFF;
	padding-left: 20px;
	padding-top: 20px;
}

#name{
	color:#3F3F3F;
	font-family: Helvetica;
	font-size: 50px;
}

h2 {
	color:#3F3F3F;
}

h3 {
	color:#FFFFFF;
	padding-top: 5px;
	text-align: center; 
}

h4 {
	margin-top: 20px;
}

#second-headline {
	color:#3F3F3F;

}


#description{
	padding-bottom: 20px;
}

#content {
  /*width: 1024px;*/
  background-color: #EFB68F;
  text-align: center;
}

p {
	padding-left:20px;
	padding-right:20px;
	color: #3F3F3F;
}

#menu {
	/*width: 1024px;*/
  	height: 80px;
  	background-color: #3D0158;
    font-size: 20px;
    font-weight: bold;
}

#menu ul {
    height: auto;
    padding-left: 20px; 
    margin: 0px;
}


#menu li { 
	display: inline; 
	text-align: right;
	color:#3F3F3F;

}

#menu a {
    text-decoration: none;
    color: #FFFFFF;
    
}

img {
    padding: 10px 0px 10px 0px;
}

#portfolio {
	/*width: 1024px;*/
  	background-color: #d3d3d3;
  	text-align: center;
  	font-size: 18px;
}

#resume {
	/*width: 1024px;*/
  	background-color: #FFFFE0;
  	text-align: center;

}

#contact {
	/*width: 1024px;*/
	background-color: #3D0158;
	font-style: Helvetica;
	font-color: #FFFFFF;

}


[class*='col-'] {
  float: left;
  background-color: #d3d3d3;
}

.col-1 {
  width: 33.33%;
}

.col-2 {
  width: 33.33%;
}

.col-3 {
  width: 33.33%;
}

.col-1-3 {
  width: 100%;
}









